body{
    font-family: monospace;
    margin: 0;
    padding-top:0;
    padding-left: 1em;
    padding-right: 1em;

}


img{
    object-fit: cover;    
    width: 100%;
    height: 40px;
}

blockquote{
    color: gray;    
}
blockquote p{
    font-size:12px ;
}
blockquote p::before{
    content: "\"";
}   

p{
    font-size: 14px;
}