@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

html,body{
  width:100%;
  height:100%;
  margin:0px;
  font-family:monospace;
}
nav{
  margin:0;
  height:50px;
  width:100%;
}
.note{
  width:100%;
  height:calc(100% - 50px);
  display:flex;
}

.warning{
   font-size:25px;
  width:50%;
  padding:1em;
  border-radius:1%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  align-self:center;
  background:#333333;
  color:white;
  
}
div a{
  color:white;
}

.shadow{
  -webkit-box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.5);
box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.5);
}

@media screen and (max-width: 420px) {
  .warning{font-size:18px;}
}