@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
:root{
  --green:#74867A;
  --darK:#333333;
}
body{
  margin:0;width:100%;height:100%;
  background:#222222;
  font-family:'Roboto Condensed';
}
html {
  
  scroll-snap-type:y mandatory;
  /*scroll-snap-points-y: repeat(100vh);*/
  /*scroll-snap-type: y mandatory;*/
}
section {
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background-image:url('images/brands/sb-transp.svg');
  background-repeat: no-repeat;

}
section:nth-of-type(2){background-image: none;}
section:nth-of-type(3){background-position: 280% -50%;}
section:nth-of-type(4){background-position: 240% 130%;}

light{
  font-weight: 300;
}
thin{font-weight: 200;}
.s-main{
  display:grid;
  grid-template-rows:60px 1fr 120px;
  grid-template-columns:1fr;
}
.s-biog{
  display:grid;
  overflow:hidden;
  grid-template-columns:1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"a b";
 
}
.s-proy{
  display: grid;
  color: white;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas:"c d";
}
/* BURGER MENU */
.burger-menu{
  position: absolute;
  top:0;left:0;
  width:80%;
  height:100vh;
  z-index: 4;
  background:white;
  margin-left:-100vw;
  transition: 500ms;
}.close-button{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border:1px solid #333;
  background:red;
}

.menu-menu{
  height: calc(100% - 30px);
  margin-top:30%;
}
.menu-menu div{
  margin:10% 0 10% 0;
}

.menu-item{
  text-decoration: none;
  color: var(--darK);
  font-size: 25px;
  
}

.m-transition{margin-left:0;}
#bio-content{
  /*position: relative;*/
  font-size: 120%;
  font-family: 'Roboto';
}

/* MAIN SECTION: ITEMS */
.item:nth-of-type(1){ 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#brand-bar/*.item:nth-of-type(3)*/{
  opacity: 0;
 background-color: var(--green); 
 transition: 1s;
}


/* FX */
.up-bar{
  opacity:1 ;
}



/* NAV */
.item-nav{
  display:none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.item-nav:nth-of-type(1)::before{
  content:"Proyectos";
}
.item-nav:nth-of-type(2)::before{
  content:"Portafolio";
}
.item-nav:nth-of-type(4)::before{
  content:"Inversiones";
}
.item-nav:nth-of-type(5)::before{
  content:"Contacto";
}
.item-nav:nth-of-type(3){
  display: flex;
}

.main{
  font-family: 'Roboto';
  display: flex;
  width: 80%;
  height: 40%;
  color:white;
  text-align: left;
  font-weight: 200;
  justify-self: center;
  /*align-items: center;*/
  font-size: 25px;
  margin-top:30%;
  margin-left:-100%;
  opacity: 0;
  transition: 250ms;
}

.main-tran{opacity: 1;margin-left: 10%;}
.brand-title{
  height: 40%;
  font-family: 'Roboto';
  overflow:hidden;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center;
}
.brand-logos{
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row:1fr;
}
.brand-item{
  display: flex;
  object-fit: contain;
  align-items:center;
}
.brand-item:nth-of-type(1){
  background:url('images/brands/arraynes.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size: contain;
}


.brand-item:nth-of-type(2){
  background:url('images/brands/daa.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size: contain;
  mix-blend-mode: color-dodge;
}

.brand-item:nth-of-type(3){
  background:url('images/brands/sa_.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size: 80%;
}


/* BIO SECTION: ITEMS */
.b-first{
  /*height:100%;
  width:60%;*/
  grid-area:"a";
}
.b-second{
  display:flex;
  justify-content:center;
  /*height:100%;
  width:40%;*/
  grid-area:"b";
}
.b-first .title{
  display:flex;
  font-family: 'Roboto';
  color:white;
  font-weight: 200;
  font-size:35px;
  width:40%;
  align-items: flex-end;
  text-align:left;
  padding-left: 10%;
  border-bottom:1px solid white;
  height: 10%;
  font-variant: small-caps;
}
.b-first .content{
  /*width:calc(100% - 2em);*/
  color:white;
  /*font-size:25px;*/
  text-align:left;
  /*margin:5% 0 0 0;*/
  height: 90%;
}
/*.b-first .content */#kmore{
  text-decoration: none;
  color:white;
  border:1px solid white;
  background:#222222;
  font-size:18px;
  letter-spacing: 0.1em;
  padding:.5em;
  font-variant: small-caps;
  width:40%;
  margin-top: 5%;

}
.b-first .content .image{
  display:flex;
  height: 25%;
  justify-content: center;
  /*margin-top: 10%;*/
  margin-top:5%;
}
.bio-image{
  width:60%;
  height:auto;
  object-fit:contain;
}


.b-second .container{
  align-self:center;
  width:80%;
  height:80%;
  overflow:hidden;
  overflow-y: scroll;
}


.b-second .container::-webkit-scrollbar {
  display: none;
}
.b-second .container img{
  width:100%;
  padding:5% 0 10% 0;
}


.s-first{
  /*width: 55%;
  height: 100%;*/
  grid-area:"c";
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  
}
.s-second{
  /*width: 45%;
  height: 100%;*/
  grid-area:"d";
  display: flex;
}
.s-proy .title{
  display:flex;
  font-family: 'Roboto';
  font-weight: 200;
  font-variant: small-caps;
  color:white;
  font-size:35px;
  width:40%;
  height:100%;
  align-items: flex-end;
  text-align:left;
  padding-left: 10%;
  border-bottom:1px solid white;
  /*
    display:flex;
  font-family: 'Roboto';
  color:white;
  font-weight: 200;
  font-size:35px;
  width:40%;
  align-items: flex-end;
  text-align:left;
  padding-left: 10%;
  border-bottom:1px solid white;
  height: 10%;
  */
}



.s-first .content{
  position: relative;
  height:100%;
  display: grid;
  grid-template-rows: 40px 150px 1fr;
  grid-template-columns: 1fr;
}


.c-header{
  font-size:25px;
  letter-spacing: 0.1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.c-description{
  text-indent: 35px;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 18px;
  padding:0.5em 1.5em 0 1.5em;
  text-align: justify;
}
.c-proy{
  display: grid;
  grid-template-columns:30px 1fr 30px;
}
.proy-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.proy-item:nth-of-type(3) img{
  margin-right: 20%;
  width: 80%;
  height: auto;
  object-fit: contain;
}
.proy-item:nth-of-type(1) img{
  margin-left: 20%;
  width: 80%;
  height: auto;
  object-fit: contain;
  transform:rotate(180deg);
}

.s-second .image{

  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;

}
.s-second .image img{
  object-fit: contain;
  align-self: center;
}

.s-second .next{
  width:20%;
}
.s-second .next{
 align-self: center; 
}

.hor-car::-webkit-scrollbar {
  display: none;
}
.hor-car{
  display: none;
  overflow-x: scroll;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 75%;
}

.bio{
  padding-left:5em;
  padding-top:10%;
  height: 20%;}

.carrusell{
  margin-top: 10%;
  position:relative;
  height: 40%;
  display: none;
  overflow:hidden;

}
.bio-image-me{
  /*padding:0 5% 0 5%;*/
  width: 70%;
  object-fit: cover;
}
.bio-image-me:nth-of-type(1){
  /*padding:0 5% 0 15%;*/
  border-radius: 10px;
}



#close-menu{
  text-decoration: none;text-align: right;
  color:#333;
  font-size: 35px;
  margin:5% 5% 0 0;
  display: flex;
  justify-content: space-around;
}
/* MEDIA QUERIES */

@media screen and (min-width:320px){
  
  .s-biog{
    grid-template-columns: 1fr;
    grid-template-areas:"a a";
  }
  .b-second{display: none;}
  .s-second{display: none;}
  .s-proy{
    grid-template-columns: 1fr;
    grid-template-areas:"c c";
  }
  .bio-image{width: 60%;}
  .hor-car{display: flex;overflow-x: scroll;}
  .carrusell{display: flex;}
  .item-nav:nth-of-type(1){display: block;}
  .item-nav:nth-of-type(4){display: block;visibility: hidden;}
  .item-nav:nth-of-type(1)::before{
    content:"⚪";
  }
  .item-nav:nth-of-type(4)::before{
    content:"⚪";
  }
  .up-bar{
    opacity:1 ;
  }
  /*.item-nav:nth-of-type(2)::before{
    content:"";
  }*/
  
  /*.s-biog{
    display: block;
  }
  .s-proy{
    display: block;
  }
  .b-first{
    width:100%;
    display: grid;
    grid-template-rows:60px 1fr;
    grid-template-columns:1fr;
  }
  .b-first .content{

    width:calc(100vw - 3em);
    padding:0 1em 0 2em;
  }
  .b-first .content .kmore{
    width: 80%;
    margin:2.5% 10% 0 10%;
  }
  .b-second{display: none;}
  .hor-car{
    position: relative;
    overflow-x: scroll;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hor-car img:nth-of-type(1){
    padding-left: 170%;
  }
  .hor-car img{width: 75%; object-fit: contain;padding:0 5% 0 5%;}
  .s-first{width:100%;}
  .s-second{display: none;}*/

}
@media screen and (min-width:375px){
  #bio-content{
    font-size: 135%;
  }
  .bio{padding-right: 1em;}

}
@media screen and (min-width:420px){
  .bio-image{width:60%;}
}
@media screen and (min-width:768px){}

/* ------------- CONF HEIGHT ---------------*/

@media screen and (max-height:600px){
  .main{
    margin-bottom: 10%;
  }

  .b-first .content .image{
    margin-top: 8%;
  }
}

@media screen and (min-height:700px){
 .main{
   font-size:30px;
 } 
}
/* ------------------- END  ---------------*/
@media screen and (min-width:1024px){
  .s-biog{grid-template-columns: 1.5fr 1fr;}
  .s-proy{grid-template-columns: 1.2fr 1fr;}
  .s-second{display:flex;}
  .b-second{display: flex;}
  .hor-car{display: none;}
  .item-nav{
    display: block;
    visibility: visible;
  }
  .item-nav:nth-of-type(4){visibility: visible;}
  .item-nav:nth-of-type(1)::before{
    content:"Proyectos";
  }
  .item-nav:nth-of-type(4)::before{
    content:"Inversiones";
  }
  .s-first .content{
    display: none;
  }
}